@tailwind base;
@tailwind components;
@tailwind utilities;

.inventory-bar {
  @apply absolute bottom-3 flex-row flex items-center justify-center w-full h-40;
}

.card {
  @apply relative flex flex-col items-center justify-end w-24 h-full m-2 text-white overflow-clip cursor-pointer;
  transition: opacity 1s ease-in-out;
}

.card:hover {
  transform: scale(1.1) translateY(-10px);
  transition: transform cubic-bezier(1, 0, 0, 1) 0.15s;
}

.card-content {
  @apply flex-grow flex-col flex mb-1 justify-end leading-tight;
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
}

.card-image {
  @apply flex bg-cover h-24 w-24 self-end rounded-lg shadow-md cursor-pointer border border-[#76EAE4];
}

.card-title {
  @apply relative text-sm font-bold text-center leading-3;
  text-shadow:
    0px 0px 8px rgba(0, 0, 0, 0.02),
    0px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-blurb {
  @apply text-xxs mt-1 text-center;
}

.card-price {
  @apply absolute bottom-1.5 right-1.5 text-xs font-bold text-center;
}

.card-produces {
  @apply p-1;
}

.card-produces-item {
  @apply text-xxs font-bold;
}

.card-price span {
  text-shadow:
    0px 0px 8px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.4);
}
