.inventory-wrapper {
  @apply absolute bottom-0 flex-col flex overflow-y-visible w-screen pointer-events-auto;
}

.inventory-bar {
  @apply flex-row flex justify-start sm:justify-center w-full h-44 overflow-x-scroll overflow-y-clip z-50 max-w-full px-3;
  scroll-snap-type: x mandatory; /* Enable vertical snap scrolling */
  scrollbar-width: none;
}

.card {
  @apply relative flex flex-col items-center justify-end w-24 h-full m-2 text-white overflow-visible cursor-pointer select-none overflow-y-visible;
  transition: opacity 1s ease-in-out;
}

.card-wrapper {
  @apply relative flex flex-col items-center justify-end w-24 h-full m-2 text-white overflow-clip cursor-pointer overflow-y-visible;
}

.card:hover .card-wrapper {
  transform: scale(1.1) translateY(-10px);
  transition: transform cubic-bezier(1, 0, 0, 1) 0.15s;
}

.card-content {
  @apply flex-grow flex-col flex mb-1 justify-end leading-tight;
  opacity: 0;
}

.card:hover .card-content,
.selected-item .card-content {
  opacity: 1;
}

.selected-item .card-portrait {
  @apply shadow-md;
}

.card-portrait {
  @apply relative flex bg-cover h-24 w-24 self-end rounded-lg cursor-pointer border border-transparent bg-[#76eae441] border-t-0;
}

.card-image {
  @apply absolute top-[5%] left-[5%] bg-cover h-[90%] w-[90%];
}

.selected-item .card-wrapper {
  transform: scale(1.1) translateY(-10px);
}

.selected-item .card-portrait {
  @apply border-[#76EAE4] bg-[#76eae466];
  transition: all 0.3s;
}

.card.too-expensive .card-portrait {
  @apply border-[#D8745D] bg-[#D8745D66];
  transition: all 0.3s;
}

.card-title {
  @apply relative text-sm font-bold text-center leading-3;
  text-shadow:
    0px 0px 8px rgba(0, 0, 0, 0.02),
    0px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-blurb {
  @apply text-xxs mt-1 text-center;
}

.card-produces {
  @apply absolute top-1 left-1.5 text-xs font-bold text-center;
}

.card-costs {
  @apply absolute bottom-1 right-1.5 text-xs font-bold text-center;
}

.card-produces-item {
  @apply text-xxs font-bold;
}

.card-costs span {
  text-shadow:
    0px 0px 8px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.4);
}

.card-wheel {
  @apply relative flex h-24 w-24  cursor-pointer rounded-lg items-center;
}

/*
//  Rotation UI 
*/

.building-bar {
  @apply flex-row flex items-center justify-center w-full overflow-visible gap-4 z-0 absolute bottom-[100%];
}

.rotate-button,
.variant-button {
  @apply border border-t-0 border-[#FDBF7F] bg-[#C9986595] p-3 rounded-3xl text-[#fff];
}

.rotate-button {
  @apply text-xl;
}

.variant-button {
  @apply text-4xl;
}

.variant-button.disabled {
  @apply text-[#e4e4e4] border-[#ececec] bg-[#eeeeee66];
}
